@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
    }

body{
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.imageAndBanner{
    flex:2;
    background-image:url("./images/background.jpg");
}

.container{
    position: relative;
    top: 20vh;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    padding:1vh;

}

.container img{
    height: 10vh;
}

.container span{
    font-family: Norse-Bold;
    font-size: 12vh;
    color: white;
}

.signupContainer{
    flex:3;
    background-color:#f9fafb;
    display: flex;
    flex-direction: column;
}
.quotes{
    padding-top: 5vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}
.quotes p{
    margin-left: 40px;
    margin-right: 200px;
}

.signupForm{
    flex: 1;
    background-color: white;
}
.signupForm p {
    margin: 18px;
    margin-left: 44px;
    color: black;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
    flex: 1;
}

.signupForm div{
    display: flex;
    padding-left: 44px;
    gap: 24px;
    padding-bottom: 32px;
    padding-right: 400px;
}

.signupForm input{
    height: 3vh;
}

.signupForm label{
    font-size: 1.5vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.button-container{
    flex: 1;
}

.setfont{
    font-size: 3vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}